body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
}

h1, h2, h3 {
    font-family: 'Oswald', sans-serif;
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.video-background video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
    color: white;
    padding: 15px 30px;
    max-width: 80%;
    background-color: none;
    border-radius: 10px;

}


.text-box img {
    max-width: 100%; /* Asegura que la imagen no exceda el ancho del contenedor */
    height: auto; /* Mantiene la proporción de aspecto de la imagen */
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px; /* Ajusta el radio de las esquinas redondeadas de la imagen */
}

h1 {
    font-size: 3em;
    margin: 0;
}

p {
    font-size: 1.7em;
    margin: 10px 0;
}
